.niche-home-reviews {
    background-image: url(https://i.ibb.co/fDY9S25/home-reviews.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.niche-home-carosel {
    width: 350px;
    height: 300px;
}

@media screen and (max-width: 575px) {
    .niche-home-reviews {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .niche-home-carosel {
        width: 95%;
        height: auto;
    }
}