# Dependency directories
node_modules/
.pnp
.pnp.js

# Testing output
coverage/

# Production build output
build/

# Cache files
.firebase/

# IDE configurations
.vscode/*
.idea/

# Miscellaneous
.DS_Store

# Environment variables
client/**/.env*.local
server/**/.env*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NX cache directories
.nx/cache
.nx/workspace-data
