.niche-home-contact {
    background-image: url(https://i.ibb.co/5kWFzpK/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}